.socialMidia{
    background-color: #010f02a9;
    padding: .5rem;
}
div .footerLogo{
    flex:20%;
  
}
div .footerQuemSomos{
    flex:30%;
  
}
div .footerContactos{
    flex:20%;
  
}
.title{
    font-size: 1rem;
    font-weight: 300;
   }
div .text{
    font-weight: 300;
    font-size: .8rem;
}
 .fBody::after{
    content:'';
    display:inline-block;
    background-color:#99A19A;
    height:2px;
    width:100%
}

@media (max-width:53rem){

    .fBody{
        display:flex;
        justify-content: center;
        flex-flow: column wrap;
        align-items: center;
    }
    div .footerLogo{
        flex:20%;
        border: 1px solid red;
      
    }
    div .footerQuemSomos{
        flex:30%;
        border: 1px solid red;
      
    }
    div .footerContactos{
        flex:20%;
      
    }   
}