.button{
    padding: .4rem 2rem;
    background-color: #057412;
    box-shadow: 0 0 5px #000000b2;
    border-radius: .5rem;
    cursor: pointer;
    color: #ffffff;
    font-size: .9rem;
    font-family: 'Poppins';
    transition: .4s;
}
.button:disabled{
    background-color: #74be7c;
    color: #076e11;
   
}
.button:hover,
.button:focus{
    box-shadow: 0 0 0 2px #417c48, 0 0 0 2px #066610d0;
}